---
title: Drupid
---

<div id="life-header">
  <header>
    <div id="life-waterdrop"><%= partial 'partials/waterdrop' %></div>
    <h1>Drupid</h1>
    <p>Drush Makefile <i class="icon-refresh"></i> Drupal</p>
  </header>
</div>

<div id="life-overview">
  <div id="life-description">
    <h4>What is it?</h4>
    <p>
    <i class="icon-tint icon-large"></i> Drupid is a better replacement for Drush make. Drupid does not only build a Drupal platform based on a makefile: it <em>synchronizes</em> a Drupal's platform with a makefile!
    </p>
  </div>

  <div id="life-installation">
    <h4>Installation</h4>
    <p><tt>gem install drupid</tt></p>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="row">

      <!-- Thumbnails -->
      <div class="large-3 small-6 columns">
        <img src="<%= lorem.image('250x250', :text => 'Thumbnail') %>" alt="thumbnail">
        <h6 class="panel">Description</h6>
      </div>

      <div class="large-3 small-6 columns">
        <img src="<%= lorem.image('250x250', :text => 'Thumbnail') %>" alt="thumbnail">
        <h6 class="panel">Description</h6>
      </div>

      <div class="large-3 small-6 columns">
        <img src="<%= lorem.image('250x250', :text => 'Thumbnail') %>" alt="thumbnail">
        <h6 class="panel">Description</h6>
      </div>

      <div class="large-3 small-6 columns">
        <img src="<%= lorem.image('250x250', :text => 'Thumbnail') %>" alt="thumbnail">
        <h6 class="panel">Description</h6>
      </div>
      <!-- End Thumbnails -->
    </div>
  </div>
</div>

<%= partial '/partials/footer' %>
