---
title: Drupid
---

<div id="life-header">
  <header>
    <div id="life-waterdrop"><%= partial 'partials/waterdrop' %></div>
    <h1>Drupid</h1>
    <p>Drush Makefile <i class="icon-refresh"></i> Drupal</p>
  </header>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="row">

      <!-- Content -->
      <div class="large-8 columns">
        <div class="pane">
          <h4>What is it?</h4>
          <p>
          Drupid is a better replacement for Drush make. Drupid does not only build a Drupal platform based on a makefile: it <em>synchronizes</em> a Drupal's platform with a makefile!
          </p>
        </div>
      </div>

      <div class="large-4 columns">
        <h4>Installation</h4>
        <a class="large button expand" href="#">
          <i class="icon-hand-right"></i><tt>gem install drupid</tt>
        </a>
        <a class="large button expand" href="#">
          <i class="icon-quote-left"></i> Call To Action!
        </a>
      </div>
      <!-- End Content -->
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="row">

      <!-- Thumbnails -->
      <div class="large-3 small-6 columns">
        <img src="<%= lorem.image('250x250', :text => 'Thumbnail') %>" alt="thumbnail">
        <h6 class="panel">Description</h6>
      </div>

      <div class="large-3 small-6 columns">
        <img src="<%= lorem.image('250x250', :text => 'Thumbnail') %>" alt="thumbnail">
        <h6 class="panel">Description</h6>
      </div>

      <div class="large-3 small-6 columns">
        <img src="<%= lorem.image('250x250', :text => 'Thumbnail') %>" alt="thumbnail">
        <h6 class="panel">Description</h6>
      </div>

      <div class="large-3 small-6 columns">
        <img src="<%= lorem.image('250x250', :text => 'Thumbnail') %>" alt="thumbnail">
        <h6 class="panel">Description</h6>
      </div>
      <!-- End Thumbnails -->
    </div>
  </div>
</div>

<%= partial '/partials/footer' %>
