---
title: Drupid
---

<article id="life-drupid">

  <div id="forkongithub">
    <%= link_to 'Fork me on GitHub', 'http://github.com/lifepillar/drupid' %>
  </div>

  <%= partial '/partials/header' %>

  <section id="life-description">
    <%= partial '/content/overview' %>
  </section>

  <section id="life-installation">
    <div>
    <%= partial '/content/installation' %>
    </div>
  </section>

  <section id="life-sync">
    <%= partial '/content/sync' %>
  </section>

  <aside id="life-lock-files">
    <%= partial '/content/lock-files' %>
  </aside>

  <aside id="life-best-practices">
    <%= partial '/content/best-practices' %>
  </aside>

  <section id="life-patch">
    <%= partial '/content/patches' %>
  </section>

  <section id="life-graph">
    <%= partial '/content/graphs' %>
  </section>

  <section id="life-issues">
    <%= partial '/content/issues' %>
  </section>

  <section id="life-resources">
    <%= partial '/content/resources' %>
  </section>

  <%= partial '/partials/footer' %>

</article>
